<img src="{{ asset('bundles/thanpapaycenter/CardsIcons/Maestro.jpg') }}" />
<img src="{{ asset('bundles/thanpapaycenter/CardsIcons/Mastercard.jpg') }}" />
<img src="{{ asset('bundles/thanpapaycenter/CardsIcons/Visa.jpg') }}" />

<a href="https://paycenter.piraeusbank.gr/redirection/Content/HTML/3DSecure_en.html"><img src="{{ asset('bundles/thanpapaycenter/VbV/vbv.jpg') }}" /></a>
<a href="https://paycenter.piraeusbank.gr/redirection/Content/HTML/3DSecure_en.html"><img src="{{ asset('bundles/thanpapaycenter/SecureCode/sc_68x37.gif') }}" /></a>

<img src="{{ asset('bundles/thanpapaycenter/PiraeusBank/PB_blue_EN.png') }}" />